/* reset */
body, h1, h2, h3, h4, h5 {
  margin: 0;
}



body {
}

.constraint {
  width: 940px;
  height: 100%;
  margin: 0 auto;
  display: block;
  position: relative;
}

/* header */

header {
  width: 100%;
  height: 72px;
  display: block;

  background-color: #eee;
}

.header-main {
  float: left;
  margin: 10px 0 0 0;
}

.header-main h1 {
  font-size: 36px;
  color: #555;
}

.header-nav {
  float: right;

  margin: 32px 0 0 0;
}

/* footer */

footer {
  text-align: right;
  padding-right: 10px;
  padding-top: 2px;
}
footer a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* body */

.content {
  margin: 40px 0 0 0;
}

main {
  width: 600px;
  height: 100%;
  display: block;
  float: left;
}

.right-column {
  width: 340px;
  height: 100%;
  display: block;
  float: right;
}

/* smart phones */
@media screen and (max-device-width: 480px) {
}
