<div>
  <form role="tweet-form" ng-submit="tweet()">
    <textarea ng-model="draft" id="tweet-text" cols="30" rows="10"></textarea>
    <button id="tweet-button">Tweet</button>
  </form>
</div>

<h3>Tweets</h3>
<div id="tweets">
  <div ng-repeat="tweet in tweets" class="tweet">
    <strong>{{ tweet.user.name }}</strong>
    <p>{{ tweet.text }}</p>
  </div>
</div>

<h3>Users</h3>
<div id="users">
  <div ng-repeat="user in users">
    <p><a href="#/users/{{ user.id }}">{{ user.name }}</a></p>
  </div>
</div>
